body {
  margin: 0;
  padding: 0;
  background-image: url("../img/world_of_warcraft_background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-custom,
.dropdown-menu {
  background-color: #191919 !important;
  .dropdown-item {
    color: rgba(255, 255, 255, 0.5);
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #191919;
    text-decoration: none;
    background-color: #f8f9fa;
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1600px !important;
}

section {
  padding-left: 5rem;
  padding-right: 5rem;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#body-container {
  background: rgb(21, 23, 26);
  background: rgba($color: #15171a, $alpha: 0.9);

  hr {
    background-color: #f8f9fa;
  }
  label,
  a,
  li,
  p,
  h1,
  h2,
  h4,
  h3 {
    color: #f8f9fa !important;
  }
  .dk {
    color: #e35454 !important;
  }
  .dh {
    color: #d283ec !important;
  }
  .druid {
    color: #f07c23 !important;
  }
  .hunter {
    color: #9bc075 !important;
  }
  .mage {
    color: #8bdefb !important;
  }
  .monk {
    color: #59c9ab !important;
  }
  .paladin {
    color: #fb88bb !important;
  }
  .priest {
    color: #f8f9fa !important;
  }
  .rogue {
    color: #ffef70 !important;
  }
  .shaman {
    color: #72ade4 !important;
  }
  .warlock {
    color: #bc87d9 !important;
  }
  .warrior {
    color: #bcaa9a !important;
  }
}
#banner {
  max-height: 10rem;
  overflow: hidden;
}

.text-red {
  color: red !important;
}

.card {
  background-color: #191919;
  color: #f8f9fa;
}

.error p {
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
  margin: 50px;
}

.fancybox-thumbs__list {
  background-color: #191919 !important;
}

#myCarousel {
  height: auto;
  width: auto;
  overflow: hidden;
}

.card-body {
  // max-height: 500px;
  // overflow: hidden;
  text-overflow: ellipsis;
}

.img-dk {
  box-shadow: 0px 0px 3px 3px #e35454;
}

.img-dh {
  box-shadow: 0px 0px 3px 3px #d283ec;
}

.img-druid {
  box-shadow: 0px 0px 3px 3px #f07c23;
}
.img-hunter {
  box-shadow: 0px 0px 3px 3px #9bc075;
}
.img-mage {
  box-shadow: 0px 0px 3px 3px #8bdefb;
}
.img-monk {
  box-shadow: 0px 0px 3px 3px #59c9ab;
}
.img-paladin {
  box-shadow: 0px 0px 3px 3px #fb88bb;
}
.img-priest {
  box-shadow: 0px 0px 3px 3px #f8f9fa;
}
.img-rogue {
  box-shadow: 0px 0px 3px 3px #ffef70;
}
.img-shaman {
  box-shadow: 0px 0px 3px 3px #72ade4;
}
.img-warlock {
  box-shadow: 0px 0px 3px 3px #bc87d9;
}
.img-warrior {
  box-shadow: 0px 0px 3px 3px #bcaa9a;
}

#blood::before,
#unholy::before,
#frost::before,
#havoc::before,
#vengeance::before,
#balance::before,
#feral::before,
#guardian::before,
#beastmastery::before,
#marksmanship::before,
#survival::before,
#arcane::before,
#fire::before,
#frost::before,
#brewmaster::before,
#mistweaver::before,
#windwalker::before,
#holy::before,
#protection::before,
#retribution::before,
#shadow::before,
#discipline::before,
#assassination::before,
#outlaw::before,
#subtlety::before,
#restoration::before,
#enhancement::before,
#elemental::before,
#destruction::before,
#affliction::before,
#demonology::before,
#arms::before,
#fury::before {
  content: "";
  display: block;
  height: 102px;
  margin-top: -102px;
  visibility: hidden;
}

#footer {
  p {
    color: #ffffff;
  }
}
.back-to-top {
  background: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 100;
  color: rgba($color: #ffffff, $alpha: 0.5);

  i {
    font-size: 50px;
  }
}

.modal-content {
  background-color: #191919 !important;
  color: #ffffff !important;

  .btn:hover {
    border-color: #5ce1e6;
    background-color: #5ce1e6 !important;
    color: #2a2a63 !important;
  }
  .btn {
    border-color: #191919;
    color: #ffffff;
  }
  .close {
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

@media (max-width: 978px) {
  .container {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  section {
    padding-left: 0;
    padding-right: 0;
  }
  .back-to-top {
    width: 30px;
    height: 30px;
    i {
      font-size: 30px;
    }
  }
}
